body {
    color: white;
    margin: 0;
    font-family: 'Lobster', cursive;
}

/*FONT*/

.slide {
    position: relative;
    overflow: hidden;
}
.slide .content{
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 100%;
}

.slide.slide-1 .content .description{
    width: 650px;
    margin: 0 auto;
}

.slide.slide-2 .content .description{
    width: 450px;
    position: absolute;
    right: 50px;
    top: 50px;
    height: 80%;
}

.slide.slide-4 .content .description{
    width: 415px;
    position: absolute;
    right: 200px;
    top: 130px;
    padding-bottom: 50px;
}

.slide.slide-4 .content .title-second{
    text-align: right;
    margin: 30px 200px 30px 0;
}

.slide .content .description {
    background: rgba(43, 39, 35, 0.84);
    padding: 10px 20px 20px;
    font-size: 20px;
}

.slide .content .title {
    text-align: center;
    font-size: 90px;
    margin-top: 75px;
}

.slide .content .title-second {
    text-align: left;
    font-size: 50px;
    margin: 30px 0 30px 75px;
}

.slide .background{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.9;
}

.main-menu {
    position: fixed;
    top: 100px;
    left: 50px;
    z-index: 3;
}

.main-menu a {
    color: white;
    font-size: 18px;
}

.main-menu li {
    margin-bottom: 10px;
}

/*MAP*/
#map{
    width: 100%;
    height: 500px;
    color: rgba(59, 22, 8, 0.78);
    padding: 0;
    margin: 0 0 0 200px;
}

.sliders img{
    width: 100px;
    height: 100px;
}